        /* #text{
            background-color: aquamarine; 
        } */
        /* .head{
            background-color: antiquewhite;
        }
        p{
            background-color:blue;
        } */